<!DOCTYPE html>
<html>
<body>

<h1>Hello Passport</h1>

<p>your first authentication</p>
<ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">My Account</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="visible-phone" href="#">Settings</a></li>
                            <li class="divider visible-phone"></li>
                            <li><a tabindex="-1" href="/logout">Logout</a></li>
                        </ul>
                        <button>Get Random Person</button>​
​						<input type="text">​
</body>
</html>

